@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
}

body {
  font-family: 'Outfit', sans-serif;
}

.font-serif-source {
  font-family: 'Source Serif 4', serif;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 2px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
